<footer>
    <div id="footerBlock">
        <div id="logo">
            <img id="fPic"  src="/footerPic.png" alt="">
            <p>Blogora</p>
        </div>
        <div id="fLinks">
            <a href="/home">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/profile">Profile</a>
        </div>
        <div id="copyri">
            &copy; <% new Date() %> 2025 Blogora | Designed by Oleg
        </div>
    </div>
    
</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.37/dist/lenis.min.js"></script>

    <script src="/main.js" defer></script>
 
</body>
</html>
    
