<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogora</title>
    <link rel="icon" type="image/png" href="c2ec2f96655ccd8679619e03cd37b53f (1).png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="/edit.css">

    <body>
        <header>
            <div id="title">
                <img src="/blog img.png" alt="">
                <h2>Blogora</h2>
            </div>
            <div id="links" >
                <a href="/home">Home</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <a href="/profile">Profile</a>
            </div>
            <button id="menu_drop" onclick="openMenu()"><img id="imgBtn" src="/menu_btn_new.svg" alt=""></button>
            <div id="block_menu">
                <div id="b_block_menu" >
                    <div id="b_header" >
                        <div id="pb_links">
                            <img src="/animals.png" alt="" width="200px">
                          <div id="b_links">
                            
                            <div class="b_links">
                                <a href="/home">Home</a>
                            </div>
                            <div class="b_links">
                                <a href="/login">Login</a>
                            </div>
                            <div class="b_links">
                                <a href="/register">Register</a>
                            </div>
                            <div class="b_links">
                                <a href="/profile">Profile</a>
                            </div>
                          </div>
                            
                        </div>
                       </div>
                </div>
               
            </div>
        </header>
    
    